

header{

    display: flex;
    padding: 10px;
    flex-direction: column;
    justify-content: space-around;
    font-size: 50px;
    font-weight: bold;
    color: rgb(170, 54, 54);

}

body {
    background: linear-gradient(#7ec3ce,#0a3871);
    position: relative;
    width: auto;
    height: 1024px;

}

* {
    
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
}

.logo {
    position: relative;
    display: flex;
    margin-top: 10px;
    margin-left: 40px;
    width: 5%;
    border-radius: 20px;
}

main {
    display: flex;
    margin-left: 180px;
    margin-bottom: 10px;
    padding: 20px;
}

.contenedorIzq {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    bottom: 80px;
    width: 600px;
    height: 900px;
    margin: 10px;
    padding: 10px;
}

.ingreso-texto {
    display: flex;
    color: #801515;
    padding: 10px;
    margin: 2px 180px 450px 25px;
    text-transform: lowercase;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 1);
}

::placeholder {
    color: #0a3871;
}

.ingreso-texto:focus {
    outline-color: #b3bfe7;
}

.contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    bottom: 80px;
    background-color: #b3bfe7;
    margin: 10px;
    padding: 10px;
    width: 400px;
    height: 400px;
    border-radius: 50px;
    border-color: #801515;
}

img {
    position: relative;
    left: 50px;
    width: 50%;
    margin-left: 45px;
}

#titulo {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#subtitulo {
    text-align: center;
    font-size: 15px;
}

.textareaoutput {
    text-transform: lowercase;
    color: #801515;
    width: 300px;
    height: 200px;
    margin-left: 45px;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 1);
}

#copiar {
    position: relative;
    left: 5px;
    background: #e3c6ee;
    color: darkblue;
    width: 75%;
    margin: 2% 10% 10% 12%;
    height: 45px;
    border: 1px solid darkblue;
    border-radius: 20px;
    cursor: pointer;
}

#textareaoutput:focus {
    outline-color: #0a3871;
}

.advertencia {
    position: relative;
    bottom: 400px;
    margin-bottom: 20px;
    color: #710a0a;
    height: 30px;
    font-size: 18px;
}

.botones {
    position: relative;
    bottom: 400px;
    right: 50px;
    display: flex;
    gap: 25px;
    margin-left: 30px;
    margin-top: 10px;
}

.btn-encriptar {
    background-color: #0a3871;
    border-radius: 20px;
    border: 1px solid #0a3871;
    width: 328px;
    height: 50px;
    color: #ffffff;
    cursor: pointer;
}

.btn-desencriptar {
    background-color: #ffffff;
    border-radius: 20px;
    border: 1px solid #0a3871;
    width: 328px;
    color: #0a3871;
    cursor: pointer;
}

.footer {
    display: flex;
    position: relative;
    bottom: 450px;
    left: 450px;
}

.mi_nombre {
    margin-left: 150px;
    font-weight: bold;
    font-size: 20px;
    font-family: "Inter";
    color: #248775;
}

/*codigo responsive*/
@media(max-width : 768px) {

    .body {
        display: flex;
        flex-direction: column;
    }

    .logo {
        width: 100px;
        margin-left: 80px;
        margin-bottom: 10px;
    }

    main {
        flex-direction: column;
        margin-left: 25px;
    }

    .contenedorIzq {
        margin-top: 50px;
        max-width: 300px;
        height: 750px;
    }

    .ingreso-texto {
        margin: 2px 1px 450px 1px;
        width: 74%;
    }

    .botones {
        flex-direction: column;
        margin-left: 45px;
    }

    .btn-encriptar {
        width: 100%;
    }

    .btn-desencriptar {
        height: 50px;
        width: 100%;
    }

    .contenedor {
        padding: 0px;
        width: auto;
        margin: 0px;
        bottom: 500px;

    }

    img {
        margin-left: 25px;
    }

    .textareaoutput {
        margin-left: 0px;
        width: 230px;
    }

    #ocultar {
        width: 96%;
    }
    #mostrar{
        margin-left: 30px;
    }

    #copiar {
        margin: 5% 0% 0% 5%;
        width: 58%;
    }

    .footer {
        left: auto;
        right: 100px;
        bottom: 580px;
    }

    .mi_nombre {
        margin-left: 196px;
        font-size: 18px;
    }

}